body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

img{
    display: block
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}


.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


/* HEADER */


.header{
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 40px;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
}

.logo-header{
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}

.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding: 24px 0;
        display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 24px 0;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.address-list{
    display: flex;
    gap: 40px;
}

/* SECTION 1 */


.solution{
    background-color: #2e2f42;
    box-sizing: content-box;
    padding-top: 188px;
    padding-bottom: 188px;
}

.solution-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 496px;

}

.solution-button {
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    gap: 10px;
    min-width: 169px
        
}

.solution-button:hover,
.solution-button:focus{
    background-color: #404BBF;
}

/* SECTION 2 */


.topics {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.topics-menu {
display: flex;
gap:24px;
}

.topics-menu-list {
width: calc((100% - 72px)/4);
}

.topics-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#2E2F42;
        margin-bottom: 8px;
}

.topics-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* SECTION 3 */


.team {
    background-color: #F4F4FD;
    padding: 120px 0 120px
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 72px;
}

.team-menu {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px)/4);
}

.team-info {
    border-radius: 0px 0px 4px 4px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-image {   
}

.team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 8px
}

.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* SECTION 4 */

.container-portfolio{
    padding: 120px 0 120px 0
}
    
.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
width: calc((100% - 72px)/3);
}

.portfolio-list-image {}

.portfolio-st {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none ;
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* FOOTER */


.foot {
    background-color: #2E2F42;
    padding: 100px 0
}

/*.logo-footer { 
    margin-bottom: 16px;
}*/

.logo-part-foot {
    color: #F4F4FD;
    display: inline-block;
}

.foot-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    margin-top: 16px;
}




